<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>Title</title>
    <script type="text/javascript" src="../static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/jquery.form.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css"></link>
    <script type="text/javascript" src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#newUserName").blur(function () {
                $("#userNameTip").text("")
                var newName = $(this).val().trim()
                $(this).val(newName)
                if(newName.trim()==""){
                    $("#userNameTip").text("用户名不能为空")
                    $("#userNameTip").css("color", "red")
                    $("#userNameTip").attr("useable", "false")
                    return
                }else{
                    var newName = $("#newUserName").val().trim()
                    console.log(newName)
                    console.log("newName----" + newName)
                    $.ajax({
                        url: '/checkUserName/' + newName,
                        type: 'get',
                        success: function(data){
                            console.log(data)
                            if(data.data==false){
                                $("#userNameTip").text("用户名已存在")
                                $("#userNameTip").css("color", "red")
                                $("#userNameTip").attr("useable", "false")
                            }else if(data.data==true){
                                $("#userNameTip").text("用户名可以使用")
                                $("#userNameTip").css("color", "green")
                                $("#userNameTip").attr("useable", "true")
                            }
                        }
                    })
                }
            })

            $("#commitUserName").click(function(){
                console.log($("#userNameTip").attr("useable"))
                if($("#userNameTip").attr("useable")==false){
                    return false;
                }else{
                    var newUserName = $("#newUserName").val().trim()
                    $.ajax({
                        url: '/user/userName/change',
                        type: 'post',
                        data: {
                            'userName': newUserName
                        },
                        success: function(data){
                            if(data.code==0){
                                alert("修改成功")
                                $("#userName").text(newUserName);
                                return;
                            }else{
                                if(data.hint)
                                    alert(data.hint)
                                return false;
                            }
                        }
                    })
                    return true;
                }
            })

            $("#uploadForm").ajaxForm(function(data){
                console.log(data)
                var imgPath = data.data.imgPath
                var targetDiv = $("#imgPlace")
                targetDiv.empty();
                targetDiv.append('<img src="'+ imgPath+'" style="height:100%" picName="'+ data.data.imgName+'"/>');
            });

            $("#userPicChangeBtn").click(function(){
                var src = $(this).parent().parent().find("#imgPlace > img").attr("src")
                // alert(src)
                if(src){
                    $.ajax({
                        url: '/user/pic/change',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            'picPath': src
                        },
                        success: function(data){
                            console.log(data)
                            if(data.code==0) {
                                $("#userImg").attr("src", src)
                                $("#navUserPic").attr("src", src)
                                alert("修改成功")
                                return true;
                            }
                            else{
                                if(data.hint){
                                    alert(data.hint)
                                }
                                return false;
                            }
                        }
                    })
                }else{
                    alert("未提交图片")
                    return false
                }
                return true;
            })


            var toAccountNode = $("#toAccount")
            var toPublishNode = $("#toPublish")
            var toCollectNode = $("#toCollect")
            var accountNode = $("#account")
            var publishNode = $("#publish")
            var collectNode = $("#collect")
            $(toAccountNode).click(function(){
                $(this).addClass("active")
                $(toPublishNode).removeClass("active")
                $(toCollectNode).removeClass("active")
                $(accountNode).css("visibility", "visible")
                $(publishNode).css("visibility", "collapse")
                $(collectNode).css("visibility", "collapse")
                var parent = $(accountNode).parent()
                parent.prepend(accountNode)

                // $(toAccountNode).attr("class", "active")
            })

            $(toPublishNode).click(function(){
                $(this).addClass("active")
                $(toAccountNode).removeClass("active")
                $(toCollectNode).removeClass("active")
                $(publishNode).css("visibility", "visible")
                $(accountNode).css("visibility", "collapse")
                $(collectNode).css("visibility", "collapse")
                var parent = $(publishNode).parent()
                parent.prepend(publishNode)
            })

            $(toCollectNode).click(function(){
                $(this).addClass("active")
                $(toAccountNode).removeClass("active")
                $(toPublishNode).removeClass("active")
                $(collectNode).css("visibility", "visible")
                $(accountNode).css("visibility", "collapse")
                $(publishNode).css("visibility", "collapse")
                var parent = $(collectNode).parent()
                parent.prepend(collectNode)
            })

            //帖子收藏
            $("#postCollect").click(function(){
                var divNode = $(this).parent().parent().parent().find(".contentPlace");
                var pageSize = 5
                $.ajax({
                    url: '/post/person/collect/1/' + pageSize,
                    type: 'get',
                    dataType: 'json',
                    success: function(data){
                        console.log(data)
                        if(data.code==0){
                            $(divNode).empty();
                            var postNode = ""
                            var commentSize = 5
                            $.each(data.data.list, function(index, post){
                                var imgNode1 = ""
                                var imgNode2 = ""
                                var imgNode3 = ""

                                btn='<button class="btn btn-warning">取消收藏</button>'
                                if(post.contentList[1]!=null){
                                    imgNode1 += '<img class="imgContent" width="100%" src="'+ post.contentList[1]+'"/>'
                                }
                                if(post.contentList[2]!=null){
                                    imgNode1 += '<img class="imgContent" width="100%" src="'+ post.contentList[2]+'"/>'
                                } if(post.contentList[3]!=null){
                                    imgNode1 += '<img class="imgContent" width="100%" src="'+ post.contentList[3]+'"/>'
                                }
                                postNode +=' <div class="panel panel-default postNode" style="height: 250px; padding: 5px; margin: 10px; >\n' +
                                    '                    <span class="postId"  style="visibility: hidden;">'+post.postId+'</span>\n' +
                                    '                    <table style="height: 20%; width: 100%;">\n' +
                                    '                        <tr>\n' +
                                    '                            <td  width="7%" style="color: darkgray;">共'+post.segmentCount+'楼</td>\n' +
                                    '                            <td width="80%"><a postId="'+post.postId+'" class="postInfoLink"  target="_blank"  href="/post/info/'+ post.postId+'/1/'+ pageSize+'/'+ commentSize+'" >'+post.contentList[0]+'</a></td>\n' +
                                    '                            <td width="10%" align="center"style="color: darkgray"><span>'+post.userName+'</span> <br/><br/><span style="color: darkgray">'+post.createTime+'</span></td>\n' +
                                    '                            <td>'+ btn+'</td>'+
                                    '                        </tr>\n' +
                                    '                    </table>\n' +
                                    '\n' +
                                    '                    <table width="100%" style="height: 50%;">\n' +
                                    '                        <tr>\n' +
                                    '                            <td width="5%"></td>\n' +
                                    '                            <td width="20%">'+imgNode1+'</td>\n' +
                                    '                            <td width="20%">'+imgNode2+'</td>\n' +
                                    '                            <td width="20%">'+imgNode3+'</td>\n' +
                                    '                            <td width="40%"></td>\n' +
                                    '                        </tr>\n' +
                                    '                    </table>\n' +
                                    '                    <span style="width: 60%;"></span>\n' +
                                    '                </div>'
                            })
                            $(divNode).append(postNode);
                            $(divNode).append('<div id="pageNavNode"></div>')

                            //为节点的按钮添加点击事件
                            $(".postBtn").click(function(){
                                var postId = $(this).attr("postId")
                                var thisNode = $(this)
                                var postNode = $(this).parent().parent().parent().parent().parent()
                                $.ajax({
                                    url: '/post/person/visible/' + postId + '/' + operate,
                                    type: 'put',
                                    dataType: 'json',
                                    success: function(data){
                                        console.log(data)
                                        if(data.code==0){
                                            $(thisNode).attr("state", operate)
                                            if(operate==0){
                                                $(thisNode).attr("class", "btn btn-warning postBtn")
                                                $(thisNode).text("不发表")
                                                $(postNode).css("background-color", "")
                                            }else if(operate==1){
                                                $(thisNode).attr("class", "btn btn-primary postBtn")
                                                $(thisNode).text("发表")
                                                $(postNode).css("background-color", "#d5d5d5")
                                            }
                                        }else{
                                            if(data.hint){
                                                alert(data.hint)
                                            }
                                        }
                                    }
                                })

                            })
                        }else {
                            if (data.hint) {
                                alert(data.hint)
                            }
                        }
                    }

                })

            })

            //问答收藏
            $("#questionCollect").click(function(){
                var divNode = $(this).parent().parent().parent().find(".contentPlace");
                var pageSize = 5;

            })

            //文章收藏
            $("#articleCollect").click(function(){
                var divNode = $(this).parent().parent().parent().find(".contentPlace");
                $(divNode).empty();
                $(divNode).append('')
            })

            //帖子发表
            $("#postPublish").click(function(){
                var pageSize = 2;
                var divNode = $(this).parent().parent().parent().find(".contentPlace");
                //请求个人帖子的数据
                $.ajax({
                    url: '/post/get/person/1/' + pageSize,
                    type: 'get',
                    dataType: 'json',
                    success: function(data){
                        console.log(data)
                        if(data.code==0){
                            $(divNode).empty();
                            var postNode = ""
                            // divNode+='<span style="visibility: hidden" id="totalPage">'+ data.data.pages+'</span>'
                            // divNode+='<span style="visibility: hidden" id="pageNum">'+ data.data.pageNum+'</span>'
                            // divNode+='<span style="visibility: hidden" id="pageSize">'+ data.data.pageSize+'</span>'
                            var commentSize = 5
                            $.each(data.data.list, function(index, post){
                                var imgNode1 = ""
                                var imgNode2 = ""
                                var imgNode3 = ""
                                var btn = ""
                                var backgroud = ""

                                if(post.state==0){
                                    btn = '<button class="btn btn-warning postBtn" state="0" postId="'+ post.postId+'">不发表</button>'
                                }else if(post.state==1){
                                    backgroud = "#d5d5d5"
                                    btn = '<button class="btn btn-primary postBtn" state="1" postId="'+ post.postId+'" >发表</button>'
                                }else if(post.state==-1){
                                    backgroud = "#d5d5d5"
                                    btn = '<button class="btn btn-danger postBtn" state="-1" postId="'+ post.postId+'" >已被管理员禁用</button>'
                                }
                                if(post.contentList[1]!=null){
                                    imgNode1 += '<img class="imgContent" width="100%" src="'+ post.contentList[1]+'"/>'
                                }
                                if(post.contentList[2]!=null){
                                    imgNode1 += '<img class="imgContent" width="100%" src="'+ post.contentList[2]+'"/>'
                                } if(post.contentList[3]!=null){
                                    imgNode1 += '<img class="imgContent" width="100%" src="'+ post.contentList[3]+'"/>'
                                }
                                postNode +=' <div class="panel panel-default postNode" style="height: 250px; padding: 5px; margin: 10px; background-color: '+ backgroud+'">\n' +
                                    '                    <span class="postId"  style="visibility: hidden;">'+post.postId+'</span>\n' +
                                    '                    <table style="height: 20%; width: 100%;">\n' +
                                    '                        <tr>\n' +
                                    '                            <td  width="7%" style="color: darkgray;">共'+post.segmentCount+'楼</td>\n' +
                                    '                            <td width="80%"><a postId="'+post.postId+'" class="postInfoLink"  target="_blank"  href="/post/info/'+ post.postId+'/1/'+ pageSize+'/'+ commentSize+'" >'+post.contentList[0]+'</a></td>\n' +
                                    '                            <td width="10%" align="center"style="color: darkgray"><span>'+post.userName+'</span> <br/><br/><span style="color: darkgray">'+post.createTime+'</span></td>\n' +
                                    '                            <td>'+ btn+'</td>'+
                                    '                        </tr>\n' +
                                    '                    </table>\n' +
                                    '\n' +
                                    '                    <table width="100%" style="height: 50%;">\n' +
                                    '                        <tr>\n' +
                                    '                            <td width="5%"></td>\n' +
                                    '                            <td width="20%">'+imgNode1+'</td>\n' +
                                    '                            <td width="20%">'+imgNode2+'</td>\n' +
                                    '                            <td width="20%">'+imgNode3+'</td>\n' +
                                    '                            <td width="40%"></td>\n' +
                                    '                        </tr>\n' +
                                    '                    </table>\n' +
                                    '                    <span style="width: 60%;"></span>\n' +
                                    '                </div>'
                            })
                            $(divNode).append(postNode);
                            $(divNode).append('<div id="pageNavNode"></div>')

                            //为节点的按钮添加点击事件
                            $(".postBtn").click(function(){
                                var postId = $(this).attr("postId")
                                var state = $(this).attr("state")
                                if(state==-1)
                                    return;
                                var operate = state==0 ? 1 : 0
                                var thisNode = $(this)
                                var postNode = $(this).parent().parent().parent().parent().parent()
                                $.ajax({
                                    url: '/post/person/visible/' + postId + '/' + operate,
                                    type: 'put',
                                    dataType: 'json',
                                    success: function(data){
                                        console.log(data)
                                        if(data.code==0){
                                            $(thisNode).attr("state", operate)
                                            if(operate==0){
                                                $(thisNode).attr("class", "btn btn-warning postBtn")
                                                $(thisNode).text("不发表")
                                                $(postNode).css("background-color", "")
                                            }else if(operate==1){
                                                $(thisNode).attr("class", "btn btn-primary postBtn")
                                                $(thisNode).text("发表")
                                                $(postNode).css("background-color", "#d5d5d5")
                                            }
                                        }else{
                                            if(data.hint){
                                                alert(data.hint)
                                            }
                                        }
                                    }
                                })

                            })
                        }else {
                            if (data.hint) {
                                alert(data.hint)
                            }
                        }
                    }

                })



            })

            //问答发表
            $("#questionPublish").click(function(){
                var pageSize = 5
                var divNode = $(this).parent().parent().parent().find(".contentPlace");
                $.ajax({
                    url: '/post/person/getList/1/' + pageSize,
                    type: 'get',
                    success: function(data){
                        console.log(data)
                        if(data.code==0) {
                            var questionNode = ""
                            $.each(data.data.list, function (index, answerDTO) {
                                var btn = ""
                                var backgroud = ""

                                if(answerDTO.state==0){
                                    btn = '<button class="btn btn-warning answerBtn" state="0" answerId="'+ answerDTO.answerId+'">不发表</button>'
                                }else if(answerDTO.state==1){
                                    backgroud = "#d5d5d5"
                                    btn = '<button class="btn btn-primary answerBtn" state="1" answerId="'+ answerDTO.answerId+'" >发表</button>'
                                }else if(answerDTO.state==-1){
                                    backgroud = "#d5d5d5"
                                    btn = '<button class="btn btn-danger answerBtn" state="-1" answerId="'+ answerDTO.answerId+'" >已被管理员禁用</button>'
                                }
                                console.log(btn)
                                var content = answerDTO.content;
                                if (content.length > 20)
                                    content = content.substr(0, 20);
                                questionNode += '<div type="answerNode" th:each="answerDTO:${data.data.list}" class="panel panel-default" style="word-wrap:break-word;word-break:break-all; padding: 10px;background-color: '+ backgroud+'">\n' +
                                    '                <div style="height: 100%; " class="panel-body">\n' +
                                    '                    <span class="answerId" style="visibility: hidden">' + answerDTO.answerId + '</span>\n' +
                                    '                    <div ><a href="/toQuestionInfo/' + answerDTO.questionId + '?answerId=' + answerDTO.answerId + '" style="color: black; font-size: larger;" target="_blank">' + answerDTO.questionTitle + '</a> <span style="color: darkgray">' + answerDTO.answerCount + ' 个回答</span>'+btn+'</div>\n' +

                                    '                    <br/>\n' +
                                    '                    <img class="img-thumbnail" width="50px" src="' + answerDTO.userPic + '">\n' +
                                    '                    <a href="#">' + answerDTO.userName + '</a>\n' +
                                    '                    <div><br/><a class="readAll"  href="#" style="color: black;">' + content + '</a><a class="readAll">阅读全文</a></div>\n' +

                                    '                </div>\n' +
                                    '                <br/>\n' +
                                    '                <div  style="position:relative; left: 30px;">\n' +
                                    '                    <span class="btn btn-default agree">赞同 ' + answerDTO.agreeCount + '</span>\n' +
                                    '                    <span class="btn btn-default disagree">不赞同' + answerDTO.disagreeCount + '</span>\n' +
                                    '                    <span class="toComment"><a class="getComment"  href="#">' + answerDTO.commentCount + '条评论</a></span>\n' +
                                    '                    <span><input type="hidden" class="commentCount" value=' + answerDTO.commentCount + '"></span></span>\n' +
                                    '                </div>\n' +
                                    '\n' +
                                    '                <div class="commentNode">\n' +
                                    '\n' +
                                    '                </div>\n' +
                                    '                <div class="commentNavNode">\n' +
                                    '\n' +
                                    '                </div>\n' +
                                    '                <div style="width: 100%; position: relative; left: 20px" class="toAddComment">\n' +
                                    '                    <!--<textarea style="width: 70%" class="inputComment" placeholder="我的评论"/>-->\n' +
                                    '                    <!--<button style="position: relative; left:10px" class="btn btn-primary submitComment">提交</button>-->\n' +
                                    '                </div>\n' +
                                    '            </div>'
                            })
                            $(divNode).empty()
                            $(divNode).append(questionNode)


                            //为节点的按钮添加点击事件
                            $(".answerBtn").click(function(){
                                var answerId = $(this).attr("answerId")
                                var state = $(this).attr("state")
                                if(state==-1)
                                    return;
                                var operate = state==0 ? 1 : 0
                                var thisNode = $(this)
                                var postNode = $(this).parent().parent()
                                $.ajax({
                                    url: '/answer/person/visible/' + answerId + '/' + operate,
                                    type: 'put',
                                    dataType: 'json',
                                    success: function(data){
                                        console.log(data)
                                        if(data.code==0){
                                            $(thisNode).attr("state", operate)
                                            if(operate==0){
                                                $(thisNode).attr("class", "btn btn-warning postBtn")
                                                $(thisNode).text("不发表")
                                                $(postNode).css("background-color", "")
                                            }else if(operate==1){
                                                $(thisNode).attr("class", "btn btn-primary postBtn")
                                                $(thisNode).text("发表")
                                                $(postNode).css("background-color", "#d5d5d5")
                                            }
                                        }else{
                                            if(data.hint){
                                                alert(data.hint)
                                            }
                                        }
                                    }
                                })

                            })
                        }else{
                            if(data.hint){
                                alert(data.hint)
                            }
                        }
                    }
                })
            })

            //文章发表
            $("#articlePublish").click(function(){
                var divNode = $(this).parent().parent().parent().find(".contentPlace");
                var pageSize = 5;
                $.ajax({
                    url: '/article/person/getList/1/'+ pageSize,
                    type: 'get',
                    dataType: 'json',
                    success: function(data){
                        console.log(data)
                        if(data.code==0){
                            var articleNode = ""
                            $.each(data.data.list, function(index, article){
                                var btn = ""
                                var backgroud = ""

                                if(article.state==0){
                                    btn = '<button class="btn btn-warning articleBtn" state="0" articleId="'+ article.articleId+'">不发表</button>'
                                }else if(answerDTO.state==1){
                                    backgroud = "#d5d5d5"
                                    btn = '<button class="btn btn-primary articleBtn" state="1" articleId="'+ article.articleId+'" >发表</button>'
                                }else if(answerDTO.state==-1){
                                    backgroud = "#d5d5d5"
                                    btn = '<button class="btn btn-danger articleBtn" state="-1" articleId="'+ article.articleId+'" >已被管理员禁用</button>'
                                }
                                articleNode+='<div class="articleNode">\n' +
                                    '                    <span style="visibility: hidden" class="articleId">'+article.articleId+'</span>\n' +
                                    '                    <div>\n' +
                                    '                        <span>'+article.title+'</span><br/><br/> <a href="'+article.accessUrl+'" target="_blank">预览</a> <a href="/file/download/'+article.articleId+'" target="_blank">下载</a>\n' +
                                    '                        <span>'+article.downloadCount+'次下载</span>\n' +
                                    '                        <div style="float: right">\n' +
                                    '                            <span>由<a>'+article.userName+'</a> 于</span> <span>'+article.createTime+'</span> 上传\n' +
                                                            btn+
                                    '                        </div>\n' +
                                    '                    </div>\n' +
                                    '                </div>'
                            })
                            $(divNode).empty();
                            $(divNode).append(articleNode);

                            //为节点的按钮添加点击事件
                            $(".articleBtn").click(function(){
                                var articleId = $(this).attr("articleId")
                                var state = $(this).attr("state")
                                if(state==-1)
                                    return;
                                var operate = state==0 ? 1 : 0
                                var thisNode = $(this)
                                var postNode = $(this).parent().parent()
                                $.ajax({
                                    url: '/article/person/visible/' + articleId + '/' + operate,
                                    type: 'put',
                                    dataType: 'json',
                                    success: function(data){
                                        console.log(data)
                                        if(data.code==0){
                                            $(thisNode).attr("state", operate)
                                            if(operate==0){
                                                $(thisNode).attr("class", "btn btn-warning postBtn")
                                                $(thisNode).text("不发表")
                                                $(postNode).css("background-color", "")
                                            }else if(operate==1){
                                                $(thisNode).attr("class", "btn btn-primary postBtn")
                                                $(thisNode).text("发表")
                                                $(postNode).css("background-color", "#d5d5d5")
                                            }
                                        }else{
                                            if(data.hint){
                                                alert(data.hint)
                                            }
                                        }
                                    }
                                })

                            })

                        }else{
                            if(data.hint)
                                alert(data.hint)
                        }
                    }
                })

            })



        })
    </script>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-1 col-md-1">
        </div>
        <div class="col-sm-10 col-md-10">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="text-align: center; color: #2e6da4; font-weight:bold;">个人中心</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="dropdown"><a href="/toPost" target="_blank">社区首页</a></li>
                            <li><a href="/toArticle" target="_blank">文章</a></li>
                            <li><a href="/toQuestion" target="_blank">问答</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="nav navbar-nav navbar-right">
                            <li th:if="${session.user}">
                                <div>
                                    <div class="dropdown" align="left">
                                        <span class="dropdown-toggle" id="menu1" data-toggle="dropdown" >
                                             <img id="navUserPic" width="45px" th:src="@{${session.user.userPic}}" src="../static/img/da8e974dc_xs.jpg" class="img-thumbnail"/>
                                        </span>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/toHomePage" target="_blank">个人中心</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="">退出登录</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li th:if="${session.user==null}"><a href="/toRegister" target="_blank"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                            <li th:if="${session.user==null}"><a href="/toLogin" target="_blank"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
            <div class="col-sm-2">
                <ul class="nav nav-pills nav-stacked" role="tablist" id="selectBtn">
                    <li class="active" id="toAccount"><a href="#" >我的帐号</a></li>
                    <li id="toPublish"><a href="#" >我的发表</a></li>
                    <li id="toCollect"><a href="#">我的收藏</a></li>
                </ul>
            </div>
            <div>
            <!--我的帐号部分-->
            <div id="account" class="col-sm-8" style="visibility: visible; border-left: 1px solid #d5d5d5;">
                <table class="table" th:if="${session.user!=null}">
                    <tr>
                        <td>帐号名</td>
                        <td th:text="${session.user.userName}" id="userName">Madao</td>
                        <td><a href="#" data-toggle="modal" data-target="#userNameModal">修改</a></td>
                        <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>-->
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="userNameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="userNameModalLabel">修改用户名</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" class="form-control" id="newUserName" placeholder="请输入新用户名"/>
                                        <br/>
                                        <div style="color: red" useable="false" id="userNameTip"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="commitUserName">提交更改</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>

                    </tr>
                    <tr>
                        <td>头像</td>
                        <td><img id="userImg" width="85px" th:src="@{${session.user.userPic}}"></td>
                        <td><a href="#" data-toggle="modal" data-target="#userPicModel">修改</a></td>
                        <div class="modal fade" id="userPicModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">修改头像</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <div style="border-bottom: 2px solid lightgray" >
                                            <div style="padding: 10px">
                                                <div id="imgPlace" style="width: 100%; height: 200px" >请选择图片</div>
                                                <form id="uploadForm" action="/pic/upload" method="post"  enctype="multipart/form-data">
                                                    <input name="file" type="file" value="选择图片" />
                                                    <button class="btn btn-primary commitImg">提交</button>
                                                </form>
                                                </div>
                                            </div>
                                            <!--<div></div>-->
                                            <!--<div><input type="file"></div>-->
                                            <!--<button class="btn btn-default" id="commitUserPic">提交</button>-->
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" >关闭</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="userPicChangeBtn" >提交更改</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>

                    </tr>
                    <tr>
                        <td>密码</td>
                        <td>已设置</td>
                        <td><a href="#">修改</a></td>
                    </tr>
                    <tr>
                        <td>绑定手机</td>
                        <td th:text="${(session.user.phone==null || session.user.phone=='') ? '未绑定' : session.user.phone}">13420110105</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>绑定邮箱</td>
                        <td th:text="${(session.user.email==null || session.user.email=='') ? '未绑定' : session.user.email}">未绑定</td>
                        <td><a  href="#">绑定</a></td>
                    </tr>
                </table>
            </div>

            <!--我的发表部分-->
            <div id="publish" class="col-sm-8" style="visibility: collapse; border-left: 1px solid #d5d5d5;">
                <ul class="nav nav-pills" role="tablist">
                    <li><a href="#" id="postPublish">帖子发表</a></li>
                    <li><a href="#" id="questionPublish">问答发表</a></li>
                    <li><a href="#" id="articlePublish">文章发表</a></li>
                </ul>
                <div class="contentPlace"></div>
            </div>

            <!--我的收藏部分-->
            <div id="collect" class="col-sm-8" style="visibility: collapse; border-left: 1px solid #d5d5d5;">
                <ul class="nav nav-pills" role="tablist">
                    <li><a href="#" id="postCollect">帖子收藏</a></li>
                    <li><a href="#" id="questionCollect">问答收藏</a></li>
                    <li><a href="#" id="articleCollect">文章收藏</a></li>
                </ul>
                <div class="contentPlace"></div>
            </div>
            </div>

	、<!--
            <ul style="width: 100%">
                <li style="display: inline; width: 30%">aa</li>
                <li style="display: inline; width: 30%">bb</li>
                <li style="display: inline; width: 30%;">cc</li>
            </ul>
	-->
        </div>
        </div>
    </div>
</body>
</html>
