<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css"></link>
    <script type="text/javascript" src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/jquery-1.7.2.js"></script>
    <script type="text/javascript"></script>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div style="height:500px; border: #2aabd2"><img th:src="@{${session.user.userPic}}" alt="Pic" width="400" border="1"/><span th:text="${session.user.userName}"></span></div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</body>
</html>