<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>Title</title>
    <script type="text/javascript" th:src="@{~/static/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" th:src="@{~/static/jquery.form.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{~/static/bootstrap-3.3.7-dist/css/bootstrap.css}"></link>
    <script type="text/javascript" th:src="@{~/static/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>
    <script type="text/javascript">
        $(function() {
            var pageSize = 1;
            //commentNav  pageCount
            var commentNavNodes = $(".commentNav");
            console.log(commentNavNodes.length)

            //导航栏设置翻页
            $.each(commentNavNodes, function(index, obj){
                var segmentId = $(obj).parent().parent().attr("segmentid")
                console.log(obj.innerHTML)
                var pageCount = $(obj).find(".pageCount").text();
                console.log(pageCount)

                var navPageNum = pageCount > 5 ? 5 : pageCount
                console.log(navPageNum)
                var navNode = '<ul class="pagination" style="position: relative; left: 50px;">'
                for(var i=1; i<= navPageNum; i++){
                    if(i==1){
                        navNode += ' <li class="active"><a pageNum='+i+' type="navlink" href="/post/segment/comment/' + segmentId + '/' + i + '/' + pageSize + '">' + i + '</a></li>';
                    }else {
                        navNode += ' <li><a pageNum='+i+' type="navlink" href="/post/segment/comment/' + segmentId + '/' + i + '/' + pageSize + '">' + i + '</a></li>';
                    }
                }
                if(pageCount>1) {
                    navNode += '<li><a pageNum=2 type="navlink" href="/post/segment/comment/' + segmentId + '/' + 2 + '/' + pageSize + '">下一页</a></li>';
                    navNode += '<li><a order="last" pageNum=' + pageCount + ' type="navlink" href="/post/segment/comment/' + segmentId + '/' + pageCount + '/' + pageSize + '">末页</a></li>';
                }
                navNode+='<li class="disabled"><a>共'+ pageCount +'页</a></li>'
                navNode+='</ul>';
                console.log(navNode)
                $(obj).append(navNode);

            })

            //翻页操作
            $(".commentNav").on('click', '[type=navlink]', function(e){
                var pageNum = $(this).attr("pageNum")
                pageNum = parseInt(pageNum)
                var href = $(this).attr("href")
                console.log(pageNum + "---" + href)
                var segmentNode =  $(this).parent().parent().parent().parent();
                var commentNavNode = segmentNode.find(".commentNav");
                var segmentId = segmentNode.attr("segmentId")
                var aNode = $(this)
                var commentCount = segmentNode.find(".commentCount");
                $.ajax({
                    url: href,
                    type: 'get',
                    success: function(data){
                        console.log(data)
                        if(data.code==0){
                            if(data.data){
                                commentNavNode.empty();
                                $.each(data.data.list, function(index, obj){
                                    commentNavNode.append('   <div class="comment" style="width: 70%; position:relative; left: 30px;">\n' +
                                        '                    <img width="20px" src="'+ obj.userPic+'"/>\n' +
                                        '                    <span>'+ obj.userName +': </span><span style="float: right; color: darkgray;"> '+obj.createTime+'</span>\n' +
                                        '                    <br/>\n' +
                                        '                    <div style="padding: 10px">\n' +
                                        '                    <span>'+ obj.commentContent +'</span><br/>\n' +
                                        '                        <span class="commentReport"><a>举报</a></span>\n' +
                                        '                    </div>\n' +
                                        '                </div>');

                                })
                                $(commentCount).text(data.data.total);
                                // thisNode.innerHTML="<a class='hideComment' href='#'>收起评论</a>"

                                if(data.data.pages > 1){
                                    var navNode = '<ul class="pagination" style="position: relative; left: 50px;">'
                                    var leftCount
                                    var rightCount
                                    if(pageNum > 2){
                                        leftCount = 2;
                                    }else if(pageNum==2){
                                        leftCount = 1;
                                    }else{
                                        leftCount = 0;
                                    }

                                    rightCount = 5 - leftCount - 1;
                                    var maxNum = rightCount + pageNum;
                                    console.log("max: " + maxNum);
                                    console.log(maxNum > data.data.pages)
                                    if(maxNum > data.data.pages){
                                        rightCount = parseInt(data.data.pages) - pageNum
                                    }
                                    // rightCount = rightCount+pageNum > data.data.pages ? data.data.pages - pageNum: rightCount

                                    console.log("left: " + leftCount)
                                    console.log("right: " + rightCount)

                                    var lastPageNum = parseInt(pageNum) - 1;
                                    console.log("lastPageNum: " + lastPageNum)
                                    if(pageNum > 1){
                                        navNode += ' <li><a pageNum=1 type="navlink" href="/post/segment/comment/' + segmentId + '/1/' + pageSize + '">首页</a></li>';
                                        navNode += ' <li><a pageNum='+lastPageNum+' type="navlink" href="/post/segment/comment/' + segmentId + '/'+ lastPageNum+'/' + pageSize + '">上一页</a></li>';
                                    }else{
                                        navNode += ' <li class="disabled"><a pageNum=1 type="navlink" href="/post/segment/comment/' + segmentId + '/1/' + pageSize + '">首页</a></li>';
                                        navNode += ' <li class="disabled"><a pageNum=1 type="navlink" href="/post/segment/comment/' + segmentId + '/'+ lastPageNum+'/' + pageSize + '">上一页</a></li>';

                                    }
                                    for(var i=pageNum-leftCount; i<pageNum; i++){
                                        navNode += ' <li><a pageNum='+i+' type="navlink" href="/post/segment/comment/' + segmentId + '/' + i + '/' + pageSize + '">' + i + '</a></li>';
                                    }
                                    navNode += ' <li class="active"><a pageNum='+pageNum+' type="navlink" href="/post/segment/comment/' + segmentId + '/' + pageNum + '/' + pageSize + '">' + pageNum + '</a></li>';
                                    for(var i=parseInt(pageNum)+1; i<=parseInt(pageNum)+rightCount; i++){
                                        navNode += ' <li><a pageNum='+i+' type="navlink" href="/post/segment/comment/' + segmentId + '/' + i + '/' + pageSize + '">' + i + '</a></li>';
                                    }

                                    var nextPage = parseInt(pageNum)+1
                                    console.log("data.data.pages:---" + data.data.pages)
                                    if(pageNum < data.data.pages){answerNode
                                        navNode += ' <li><a pageNum='+nextPage+' type="navlink" href="/post/segment/comment/' + segmentId + '/' + nextPage + '/' + pageSize + '">下一页</a></li>';
                                        navNode += ' <li><a order="last" pageNum='+data.data.pages+' type="navlink" href="/post/segment/comment/' + segmentId + '/' + data.data.pages + '/' + pageSize + '">末页</a></li>';
                                    }else{
                                        navNode += ' <li class="disabled"><a pageNum='+pageNum+' type="navlink" href="/post/segment/comment/' + segmentId + '/' + pageNum + '/' + pageSize + '">下一页</a></li>';
                                        navNode += ' <li class="disabled"><a order="last" pageNum='+data.data.pages+' type="navlink" href="/post/segment/comment/' + segmentId + '/' + data.data.pages + '/' + pageSize + '">末页</a></li>';
                                    }

                                    navNode+='<li class="disabled"><a>共'+ data.data.pages +'页</a></li>'
                                    navNode+='</ul>';
                                    commentNavNode.append(navNode);
                                }
                            }
                        }
                    }
                })

                return false;
            })

            $("#logoutNode").click(function () {
                $.ajax({
                    url: '/user/logout',
                    type: 'get',
                    success: function (data) {
                        if (data.code == 0) {
                            alert("退出登录成功")
                            $("#userNav").empty();
                            $("#userNav").append('<li ><a href="/toRegister" target="_blank"><span class="glyphicon glyphicon-user"></span> 注册</a></li>\n' +
                                '<li ><a href="/toLogin" target="_blank"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>');
                        } else {
                            alert("请稍后重试")
                        }
                        return false;
                    },
                    error: function () {
                        alert("请稍后重试")
                        return false;
                    }
                })
                return false;
            })

            $(".addComment").click(function () {
                var segmentId = $(this).parent().parent().attr("segmentId")
                var commentInputNode = $(this).parent().find(".inputComment");
                var commentInput = commentInputNode.val();
                console.log(segmentId)
                if(commentInput=="") {
                    console.log("commentInput empty")
                    alert("评论内容不能为空")
                    return false;
                }
                $.ajax({
                    url: '/post/comment/' + segmentId,
                    type:'post',
                    dataType: 'json',
                    data: {
                        'commentContent': commentInput
                    },
                    success: function(data){
                        if(data.code==0){
                            commentInputNode.val("")
                            alert("添加成功")
                        }else{
                            if(data.hint){
                                alert(data.hint)
                            }
                        }
                    },
                    error: function(){
                        alert("请稍后重试")
                    }
                })
            })

            //写回答
            $("#addPostText").click(function(){
                var contentNumNode = $(this).parent().find("#contentNum");
                var nextNum = parseInt(contentNumNode.text()) + 1;
                $("#addPostArea").append('<div class="answerContent" num="'+ nextNum +'"><br/>' +
                    '<button class="btn btn-default contentNumBtn">'+ nextNum +'</button>' +
                    '<button class="btn btn-default deleteContent">删除</button>' +
                    '<div class="content" style="padding 10px" type="text">' +
                    '<textarea style="width: 100%; height: 100px" placeholder="请输入内容"></textarea></div>' +
                    '</div>')
                contentNumNode.text(nextNum)
            })

            $("#addPostImg").click(function(){
                var contentNumNode = $(this).parent().find("#contentNum");
                var nextNum = parseInt(contentNumNode.text()) + 1;
                $("#addPostArea").append('<div style="border-bottom:2px solid lightgray" class="answerContent" num="'+ nextNum +'">' +
                    '<br/><button class="btn btn-default contentNumBtn">'+ nextNum +'</button><button class="btn btn-default deleteContent">删除</button>' +
                    '<div class="content" style="padding 10px" type="img">' +
                    '<div class="imgPlace" style="width: 100%; height: 200px" >请选择图片</div>' +
                    '<form class="uploadForm" action="/pic/upload" method="post"  enctype="multipart/form-data"><input name="file" type="file" value="选择图片" /><input name="num" type=hidden value="'+ nextNum +'" /><button class="btn btn-primary commitImg">提交</button></form>' +
                    '</div>' +
                    '</div>')
                contentNumNode.text(nextNum);

                //为上传文件的表单添加处理方法
                $(".uploadForm").ajaxForm(function(data){
                    console.log(data)
                    var num = data.data.num;
                    var imgPath = data.data.imgPath
                    var condition = "[num=" + num + "]";
                    console.log("condition:--" + condition)
                    var targetDiv = $("#addPostArea").find(condition).find(".imgPlace");
                    console.log(targetDiv)
                    // alert(targetDiv[0].innerHTML)
                    targetDiv.empty();
                    targetDiv.append('<img src="'+ imgPath+'" style="height:100%" picName="'+ data.data.imgName+'"/>');

                    // if(data=="1"){
                    //     alert("提交成功！");
                    // }
                });
            })

            //模块删除按钮
            $("#addPostArea").on("click", ".deleteContent", function(e){
                $(this).parent().remove();
                var answerContentList = $("#addPostArea").find(".answerContent");
                console.log(answerContentList.length)
                var i = 1;
                $.each(answerContentList, function(index, obj){
                    console.log(obj.innerHTML);
                    $(obj).attr("num", i);
                    $(obj).find(".contentNumBtn").text(i);
                    i++;
                })
                $("#contentNum").text(i-1);
            })

            //提交回答
            $("#submitBtn").click(function(){
                var postId = $("#postId").text()
                console.log(postId)
                var contentNodeList = $(".content")
                var dataArray=[];
                $.each(contentNodeList, function(index, contentNode){
                    var nodeType = $(contentNode).attr("type")
                    var value
                    var type
                    if(nodeType=="text"){
                        value = $(contentNode).find("textarea").val()
                        type=0
                    }else if(nodeType=="img"){
                        value = $(contentNode).find("img").attr("src")
                        type=1
                    }
                    var data = {"content":value, "type":type};
                    dataArray.push(data);
                })
                console.log(JSON.stringify(dataArray))

                $.ajax({
                    url: '/post/segment/' + postId,
                    type: 'post',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(dataArray),
                    success: function(data){
                        console.log(data)
                        code=data.code
                        if(data.code==0){
                            alert("添加成功")

                        }else{
                            if(data.hint){
                                alert(data.hint)
                            }
                        }
                    }
                })
            })

        })
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-9" style="border-left: 1px solid #d5d5d5; border-right: 1px solid darkgray">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="text-align: center; color: #2e6da4; font-weight:bold;">网络社区</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="dropdown"><a href="/toPost" target="_blank">社区首页</a></li>
                            <li><a href="/toArticle" target="_blank">文章</a></li>
                            <li><a href="/toQuestion" target="_blank">问答</a></li>
                        </ul>
                    </div>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">进入社区</button>
                    </form>
                    <div>
                        <ul class="nav navbar-nav navbar-right" id="userNav">
                            <li th:if="${session.user}" id="userCenter">
                                <div>
                                    <div class="dropdown">
                                        <span class="dropdown-toggle" id="menu1" data-toggle="dropdown" >
                                             <img width="45px" src="../static/img/da8e974dc_xs.jpg" class="img-thumbnail"/>
                                        </span>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/toHomePage" target="_blank">个人中心</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="logoutNode">退出登录</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li th:if="${session.user==null}" id="register"><a href="/toRegister" target="_blank"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                            <li th:if="${session.user==null}" id="login"><a href="/toLogin" target="_blank"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                        </ul>
                    </div>
                </div>

            </nav>

            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addSegmentModal">我要发表</button>
            <br/>
            <div class="modal fade" id="addSegmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="addPostModalLabel">我的发表</h4>
                        </div>
                        <span style="visibility: hidden" id="contentNum">0</span>
                        <div id="addPostArea"></div>
                        <br/><br/>
                        <button class="btn btn-default" id="addPostText">添加文本</button>
                        <button class="btn btn-default" id="addPostImg">添加图片</button>
                        <div class="modal-footer">
                            <br/>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="submitBtn" data-dismiss="modal">提交</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <span id="postId" th:text="${data.data.list[0].postId}" style="visibility: hidden"></span>
            <div class="segmentNode" style="" th:each="segment:${data.data.list}" th:segmentId="${segment.segmentId}">
                <div class="col-sm-2" style="width: 100px; margin: 5px; height: 100%; background-color: #F7F8FA">
                    <img class="img-thumbnail" style="width:100%; margin: 3px; border: 1px solid #d5d5d5;"  th:src="@{${segment.userPic}}" alt="图片" /><br/><br/>
                    <span style="text-align: center; color: darkgray;"><a th:text="${segment.userName}"></a></span>
                </div>
                <div class="col-sm-10" style="border-left: 1px solid #d5d5d5; border-top: 1px solid #d5d5d5">

                    <div class="segmentContent" style="width: 80%; margin: 10px" th:each="content:${segment.contentList}">
                        <p th:if="${content.type==0}" th:text="${content.content}"> 大家好，我月球鸽子皇时隔一年又来咕咕咕测试了，GS75皇帝版到手用了也有两周多了，中间换了下内存和硅脂，当初3月底换机器曾想了一晚上，本来已经下单国行GX701，因为开始GS75只有80W的2080VBIOS，性能表现比GX701弱10%，老莱同志的吹水视频理论性测试更是能差15%，但是在我下单后，PY人士告诉我GS75的90W VBIOS已经UPUP，果断退订GX701上GS75皇帝版，省下五千多，可以买一条2T蓝盘+2T EX950还有多，拓展性万岁</p></td>
                        <img th:if="${content.type==1}" th:src="@{${content.content}}" style="width: 100%;"/>
                    </div>

                    <div th:each="comment:${segment.postComment.list}" class="comment" style="width: 80%; height:100%; background-color: #F7F8FA; position: relative;left: 20px;">
                        <table  width="100%" style="" >
                            <tr>
                                <td width="15%"><img th:src="@{${comment.userPic}}" width="30px"/></td>
                                <td><span th:text="${comment.userName}">sky</span>:<span th:text="${comment.commentContent}">楼主 gs75和thinkpad的键盘 革命的机械键盘比 哪个手感会好点啊</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td th:text="${comment.createTime}" style="text-align: right">2019-04-01</td>
                            </tr>
                        </table>
                    </div>
                    <div class="commentNav">
                        <div class="commentCount" th:text="${segment.postComment.total}" style="visibility: hidden"></div>
                        <div class="pageCount" th:text="${segment.postComment.pages}" style="visibility: hidden"></div>
                    </div>

                </div>
                <br/><br/>
                <!--<div style="position: relative; left: 20%; width: 60%;"><input class="form-control inputComment" type="text" placeholder="我的评论" width="70%" style="display: inline"><button class="btn btn-default addComment">提交</button></div>-->
            </div>

            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>

        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
</body>
</html>
