<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css"></link>
    <script type="text/javascript" src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/jquery-1.7.2.js"></script>
    <script type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-9">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="text-align: center; color: #2e6da4; font-weight:bold;">网络社区</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="dropdown"><a href="#">社区首页</a></li>
                            <li><a href="#">文章</a></li>
                            <li><a href="#">问答</a></li>
                        </ul>
                    </div>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">进入社区</button>
			<button class="btn btn-default">我要发帖</button>
                    </form>
                    <div>
                        <ul class="nav navbar-nav navbar-right">
                            <li th:if="${session.user}">
                                <div>
                                    <div class="dropdown" align="left">
                                        <span class="dropdown-toggle" id="menu1" data-toggle="dropdown" >
                                             <img width="45px" src="../static/img/da8e974dc_xs.jpg" class="img-thumbnail"/>
                                        </span>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">个人中心</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出登录</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <!--<li th:if="${session.user}"><a  href="toHomePage">个人中心</a></li>-->
                            <!--<li th:if="${session.user==null}"><a href="/toRegister"><span class="glyphicon glyphicon-user"></span> 注册</a></li>-->
                            <!--<li th:if="${session.user==null}"><a href="/toLogin"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>-->
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="panel panel-default">

                <div style="width: 100px; height:100%; float: left">
                    <img width="100%" src="../static/img/a.jpeg" alt="图片" /><br/>
                    <span style="text-align: center">Blue</span>
                </div>
                <div style="width: 80%; height:100%; float: left; padding: 5px">
                    <p> 大家好，我月球鸽子皇时隔一年又来咕咕咕测试了，GS75皇帝版到手用了也有两周多了，中间换了下内存和硅脂，当初3月底换机器曾想了一晚上，本来已经下单国行GX701，因为开始GS75只有80W的2080VBIOS，性能表现比GX701弱10%，老莱同志的吹水视频理论性测试更是能差15%，但是在我下单后，PY人士告诉我GS75的90W VBIOS已经UPUP，果断退订GX701上GS75皇帝版，省下五千多，可以买一条2T蓝盘+2T EX950还有多，拓展性万岁</p>
                    <img src="../static/img/1.jpg" width="100%" />
                    <p>想了想，还是在写别的之前随便放个伪开箱图顺便对比一下小老弟GS65吧，200元手机画质*差别吐槽了，可以看到GS75在基本没加机身宽度的情况下，塞进了17寸屏幕，主要功臣为缩小了超多的下巴和变成了半下沉式的转轴部分。</p>
                </div>
                <div style="width: 80%; height:100%; float: right; background-color: #F7F8FA">
                    <table  width="100%">
                        <tr>
                            <td width="15%"><img src="../static/img/b.jpeg" width="30px"/></td>
                            <td>sky:楼主 gs75和thinkpad的键盘 革命的机械键盘比 哪个手感会好点啊</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: right">2019-04-01</td>
                        </tr>
                    </table>
                    <span style="float: right;"><button class="btn btn-default">我也说一句</button></span>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
</body>
</html>
