<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>Title</title>
    <script type="text/javascript" src="../static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/jquery.form.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css"></link>
    <script type="text/javascript" src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(function() {
            //根据当前页码和总页数生成分页导航
            var pageNavNode = $("#pageNavNode");
            var totalPage = $("#totalPageNum").text()
            totalPage = parseInt(totalPage)
            var pageSize = $("#pageSize").text()
            var categoryId = $("#category").attr("categoryId")
            var target = "/toPost"
            if(categoryId){
                console.log("categoryId=====" + categoryId)
                target += ("/" + categoryId);
            }
            pageSize = parseInt(pageSize)
            if(totalPage > 1){
                var pageNum = $("#pageNum").text()
                pageNum = parseInt(pageNum)
                console.log(totalPage + "---------" + pageNum)
                var navNode = '<ul class="pagination" style="position: relative; left: 50px;">'
                var leftCount
                var rightCount
                if(pageNum > 2){
                    leftCount = 2;
                }else if(pageNum==2){
                    leftCount = 1;
                }else{
                    leftCount = 0;
                }

                rightCount = 5 - leftCount - 1;
                var maxNum = rightCount + pageNum;
                console.log("max: " + maxNum);
                console.log(maxNum > totalPage)
                if(maxNum > totalPage){
                    rightCount = parseInt(totalPage) - pageNum
                }
                // rightCount = rightCount+pageNum > data.data.pages ? data.data.pages - pageNum: rightCount

                console.log("left: " + leftCount)
                console.log("right: " + rightCount)

                var lastPageNum = parseInt(pageNum) - 1;
                console.log("lastPageNum: " + lastPageNum)
                if(pageNum > 1){
                    navNode += ' <li><a pageNum=1 type="navlink" href="'+target+'?pageNum=1&pageSize=' + pageSize + '">首页</a></li>';
                    navNode += ' <li><a pageNum='+lastPageNum+' type="navlink" href="'+target+'?pageNum=' + lastPageNum+'&pageSize=' + pageSize + '">上一页</a></li>';
                }else{
                    navNode += ' <li class="disabled"><a pageNum=1 type="navlink" href="#">首页</a></li>';
                    navNode += ' <li class="disabled"><a pageNum=1 type="navlink" href="#">上一页</a></li>';

                }
                for(var i=pageNum-leftCount; i<pageNum; i++){
                    navNode += ' <li><a pageNum='+i+' type="navlink" href="'+target+'?pageNum=' + i + '&pageSize=' + pageSize + '">' + i + '</a></li>';
                }
                navNode += ' <li class="active"><a pageNum='+pageNum+' type="navlink" href="'+target+'?pageNum=' + pageNum + '&pageSize=' + pageSize + '">' + pageNum + '</a></li>';
                for(var i=parseInt(pageNum)+1; i<=parseInt(pageNum)+rightCount; i++){
                    navNode += ' <li><a pageNum='+i+' type="navlink" href="'+target+'?pageNum=' + i + '&pageSize=' + pageSize + '">' + i + '</a></li>';
                }

                var nextPage = parseInt(pageNum)+1
                console.log("flag--" + pageNum< totalPage)
                if(pageNum < totalPage){
                    navNode += ' <li><a pageNum='+nextPage+' type="navlink" href="'+target+'?pageNum=' + nextPage + '&pageSize=' + pageSize + '">下一页</a></li>';
                    navNode += ' <li><a order="last" pageNum='+totalPage+' type="navlink" href="'+target+'?pageNum=' + totalPage + '&pageSize=' + pageSize + '">末页</a></li>';
                }else{
                    navNode += ' <li class="disabled"><a pageNum='+pageNum+' type="navlink" href="#">下一页</a></li>';
                    navNode += ' <li class="disabled"><a order="last" pageNum='+totalPage+' type="navlink" href="#">末页</a></li>';
                }
                navNode+='<li class="disabled"><a>共'+ totalPage +'页</a></li>'
                navNode+='</ul>';
                // alert(navNode)
                pageNavNode.append(navNode);
            }


            var pageSize = 5;
            var commentPageSize = 5;
            var postPageSize = 5
            $("#logoutNode").click(function(){
                $.ajax({
                    url: '/user/logout',
                    type: 'get',
                    success: function(data){
                        if(data.code==0){
                            alert("退出登录成功")
                            $("#userNav").empty();
                            $("#userNav").append('<li ><a href="/toRegister" target="_blank"><span class="glyphicon glyphicon-user"></span> 注册</a></li>\n' +
                                '<li ><a href="/toLogin" target="_blank"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>');
                        }else{
                            alert("请稍后重试")
                        }
                        return false;
                    },
                    error: function(){
                        alert("请稍后重试")
                        return false;
                    }
                })
                return false;
            })

            $("#toLogin").attr("href", "/toLogin?lastPage=" + window.location.href)
            $("#toRegister").attr("href", "/toRegister?lastPage=" + window.location.href)

            var categoryParentNode = $("#categoryParent");
            $.ajax({
                url: '/post/category/parent',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    var firstParentCategoryId;
                    $.each(data.data.parentCategoryList, function(index, obj){
                        if(index==0) {
                            $(categoryParentNode).append('<div type="selected" class="btn btn-primary parentNode" nodeId="' + obj.categoryId + '">' + obj.categoryName + '</div><br/>')
                            firstParentCategoryId = obj.categoryId;
                        }else{
                            $(categoryParentNode).append('<div class="btn btn-default parentNode" nodeId="' + obj.categoryId + '">' + obj.categoryName + '</div><br/>')
                        }
                    })

                    $.each(data.data.childCategoryInFirstParentList, function(index, obj){
                        $("#categoryChild").append('<div class="btn btn-default childNode" nodeId="' + obj.categoryId + '">' + obj.categoryName + '</div>')
                    })


                    $(".parentNode").click(function () {
                        var parentId = $(this).attr("nodeId")
                        var parentDiv = $(this).parent()
                        var selectedNode = parentDiv.find("[type=selected]");
                        selectedNode.removeAttr("type")
                        selectedNode.attr("class", "btn btn-default parentNode")
                        $(this).attr("type", "selected")
                        $(this).attr("class", "btn btn-primary parentNode")
                        console.log(parentId)
                        $.ajax({
                            url: '/post/category',
                            type: 'get',
                            dataType: 'json',
                            data: {
                                'parentNodeId': parentId
                            },
                            success: function (data) {
                                console.log(data)
                                $("#categoryChild").empty();
                                $.each(data.data, function(index, obj){
                                    $("#categoryChild").append('<div class="btn btn-default childNode" nodeId="'+ obj.categoryId+'">' + obj.categoryName + '</div>');
                                })
                            }
                        })
                    })
                }
            })

            var postList = $(".postId")
            var postIdList = new Array()
            $.each(postList, function(index, obj){
                postIdList[index] =  $(obj).text()
            })

            console.log("post:---" + postIdList)
            console.log(JSON.stringify(postIdList))
            //获取每个帖子的简要内容
            // $.ajax({
            //     url: "/post/content/abstract?postIdList=" + postIdList,
            //     type: 'get',
            //     dataType: 'json',
            //     data: postIdList,
            //     contentType: "application/json; charset=utf-8",
            //     success: function(data){
            //         console.log(data)
            //         if(data.code==0){
            //             var postNode = $(".postNode")
            //             $.each(postNode, function(index, object){
            //                 var postId = $(postNode).find(".postId").text()
            //                 console.log("postId...." + postId)
            //                 var text = data.data[index][0];
            //                 console.log(text)
            //                 if(text){
            //                     if(text.length < 20){
            //                         $(object).find(".postInfoLink").text(text)
            //                     }else{
            //                         $(object).find(".postInfoLink").text(text.substr(0, 80) + "...")
            //                     }
            //
            //                 }
            //                 var imgContentList = postNode.find(".imgContent")
            //                 console.log(imgContentList.length)
            //                 console.log(data.data[index].length)
            //                 var j = 0
            //                 for(var i=1; i<=data.data[index].length; i++){
            //                     var imgPath = data.data[index][i];
            //                     console.log(imgPath)
            //                     $(imgContentList[j]).attr("src", imgPath)
            //                     j++;
            //                 }
            //             })
            //         }
            //     }
            // })

            var postInfoLinkNodeList = $(".postInfoLink")
            $.each(postInfoLinkNodeList, function(index, object){
                var postId = $(object).attr("postId")
                $(object).attr("src", "/toPostInfo/" + postId)
            })

            $("#categoryChild").on('click', '.childNode', function(e){
                var categoryId = $(this).attr("nodeId")
                var parentNdoe = $(this).parent();
                var selectedNode = parentNdoe.find("[type=selected]")
                selectedNode.removeAttr("type")
                selectedNode.attr("class", "btn btn-default childNode")

                $(this).attr("type", "selected")
                $(this).attr("class", "btn btn-primary childNode")
            })

            $("#selectCategory").click(function(){
                var selectedNode = $("#categoryChild").find("[type=selected]");
                var categoryId = selectedNode.attr("nodeId")
                window.open("/toPost/" + categoryId)
            })


            $(".postInfoLink").click(function(){
                var postId = $(this).attr("postId")
                window.open("/post/info/" + postId + "/1/" + postPageSize + "/" + commentPageSize)
            })



            $("#addPostText").click(function(){
                var contentNumNode = $(this).parent().find("#contentNum");
                var nextNum = parseInt(contentNumNode.text()) + 1;
                $("#addPostArea").append('<div class="answerContent" num="'+ nextNum +'"><br/>' +
                    '<button class="btn btn-default contentNumBtn">'+ nextNum +'</button>' +
                    '<button class="btn btn-default deleteContent">删除</button>' +
                    '<div class="content" style="padding 10px" type="text">' +
                    '<textarea style="width: 100%; height: 100px" placeholder="请输入内容"></textarea></div>' +
                    '</div>')
                contentNumNode.text(nextNum)
            })

            $("#addPostImg").click(function(){
                var contentNumNode = $(this).parent().find("#contentNum");
                var nextNum = parseInt(contentNumNode.text()) + 1;
                $("#addPostArea").append('<div style="border-bottom:2px solid lightgray" class="answerContent" num="'+ nextNum +'">' +
                    '<br/><button class="btn btn-default contentNumBtn">'+ nextNum +'</button><button class="btn btn-default deleteContent">删除</button>' +
                    '<div class="content" style="padding 10px" type="img">' +
                    '<div class="imgPlace" style="width: 100%; height: 200px" >请选择图片</div>' +
                    '<form class="uploadForm" action="/pic/upload" method="post"  enctype="multipart/form-data"><input name="file" type="file" value="选择图片" /><input name="num" type=hidden value="'+ nextNum +'" /><button class="btn btn-primary commitImg">提交</button></form>' +
                    '</div>' +
                    '</div>')
                contentNumNode.text(nextNum);

                //为上传文件的表单添加处理方法
                $(".uploadForm").ajaxForm(function(data){
                    console.log(data)
                    var num = data.data.num;
                    var imgPath = data.data.imgPath
                    var condition = "[num=" + num + "]";
                    console.log("condition:--" + condition)
                    var targetDiv = $("#addPostArea").find(condition).find(".imgPlace");
                    console.log(targetDiv)
                    // alert(targetDiv[0].innerHTML)
                    targetDiv.empty();
                    targetDiv.append('<img src="'+ imgPath+'" style="height:100%" picName="'+ data.data.imgName+'"/>');

                    // if(data=="1"){
                    //     alert("提交成功！");
                    // }
                });
            })

            //模块删除按钮
            $("#addPostArea").on("click", ".deleteContent", function(e){
                $(this).parent().remove();
                var answerContentList = $("#addPostArea").find(".answerContent");
                console.log(answerContentList.length)
                var i = 1;
                $.each(answerContentList, function(index, obj){
                    console.log(obj.innerHTML);
                    $(obj).attr("num", i);
                    $(obj).find(".contentNumBtn").text(i);
                    i++;
                })
                $("#contentNum").text(i-1);
            })

            //提交发帖
            $("#submitBtn").click(function(){
                var categoryId = $("#category").attr("categoryId")
                if(!categoryId){
                    alert("未选择社区,请进入后再提交")
                    return false;
                }
                var contentNodeList = $(".content")
                var dataArray=[];
                $.each(contentNodeList, function(index, contentNode){
                    var nodeType = $(contentNode).attr("type")
                    var value
                    var type
                    if(nodeType=="text"){
                        value = $(contentNode).find("textarea").val()
                        type=0
                    }else if(nodeType=="img"){
                        value = $(contentNode).find("img").attr("src")
                        type=1
                    }
                    var data = {"content":value, "type":type};
                    dataArray.push(data);
                })
                console.log(JSON.stringify(dataArray))
               var code
                var link

                $.ajax({
                    url: '/post/' + categoryId,
                    type: 'post',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(dataArray),
                    async: false,
                    success: function(data){
                        console.log(data)
                        code=data.code
                        if(data.code==0){
                            alert("添加成功")
                            link = "http://localhost:8088/post/info/" + data.data.postId + "/1/5/5"
                            console.log(link)
                            window.open(link)
                        }else{
                            if(data.hint){
                                alert(data.hint)
                            }
                        }
                    }
                })
                console.log(code)
                console.log(link)
                if(code==0) {
                    window.open(link)
                }
            })

            $("#entryCategory").click(function(){
                var searchContent = $("#searchContent").val();
                if(searchContent=="")
                    return
                $.ajax({
                    url: '/post/category/name',
                    dataType: 'json',
                    async: false,
                    data: {
                        categoryName: searchContent
                    },
                    success: function(data){
                        console.log(data)
                        if(data.code==0) {
                            window.open("/toPost/" + data.data.categoryId)
                        }else{
                            if(data.hint){
                                alert(data.hint)
                            }
                        }

                    },
                    error: function(data){
                        alert("请稍后重试")
                    }
                })

            })
        })
    </script>
</head>
<body>
<!--<p>欢迎来到社区<p>-->
<!--<a th:if="${session.user!=null}" th:text="${session.user.userName}" th:else(th:text="hh" href="/toHomePage")></a>-->
<!--<a th:if="${session.user!=null}"  th:text="退出登录"  href="/user/logout")></a>-->
<div class="container">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-9">
            <span id="pageNum" th:text="${data.data.pageNum}" style="visibility: hidden"></span>
            <span id="totalPageNum" th:text="${data.data.pages}" style="visibility: hidden"></span>
            <span id="pageSize" th:text="${data.data.pageSize}" style="visibility: hidden"></span>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="text-align: center; color: #2e6da4; font-weight:bold;">网络社区</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="dropdown"><a href="#" style="color: #2e6da4;">社区首页</a></li>
                            <li><a href="/toArticle" target="_blank">文库</a></li>
                            <li><a href="/toQuestion" target="_blank">问答</a></li>
                        </ul>
                    </div>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" id="searchContent">
                        </div>
                        <button type="submit"  class="btn btn-default" id="entryCategory">进入社区</button>
                        <!--<button class="btn btn-default">我要发帖</button>-->
                    </form>
                    <div>
                        <ul class="nav navbar-nav navbar-right" id="userNav">
                            <li th:if="${session.user}">
                                <div>
                                    <div class="dropdown" align="left">
                                        <span class="dropdown-toggle" id="menu1" data-toggle="dropdown" >
                                             <img th:src="@{${session.user.userPic}}" width="45px" src="../static/img/da8e974dc_xs.jpg" class="img-thumbnail"/>
                                        </span>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/toHomePage" target="_blank">个人中心</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="logoutNode">退出登录</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li th:if="${session.user==null}"><a id="toRegister" href="/toRegister" target="_blank"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                            <li th:if="${session.user==null}"><a id="toLogin" href="/toLogin" target="_blank"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                        </ul>
                    </div>
                </div>

            </nav>
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addPostModal">我要发帖</button>
            <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="addPostModalLabel">我的发帖</h4>
                        </div>
                        <span style="visibility: hidden" id="contentNum">0</span>
                        <div id="addPostArea"></div>
                        <br/><br/>
                        <button class="btn btn-default" id="addPostText">添加文本</button>
                        <button class="btn btn-default" id="addPostImg">添加图片</button>
                        <div class="modal-footer">
                            <br/>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="submitBtn" data-dismiss="modal">提交</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>


            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#categoryModal">分类</button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">选择社区</h4>
                        </div>
                        <div class="modal-body">
                            <span  id="parentCategory" style="">
                               <table  style="width: 100%">
                                   <tr>
                                       <td width="20%" id="categoryParent">
                                           <!--<div class="btn btn-default">数码</div>-->
                                       </td>
                                       <td width="80%" id="categoryChild"></td>
                                   </tr>
                               </table>

                            </span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" id="selectCategory" class="btn btn-primary" data-dismiss="modal">确定进入</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <div><span th:if="${category!=null}" th:text="${category.categoryName}" class="btn btn-default" id="category" th:categoryId="${category.categoryId}" style="margin: 10px">笔记本区</span></div>
            <div id="postPlace">
                <div th:if="${data.data.list}" th:each="post: ${data.data.list}" class="panel panel-default postNode" style="height: 250px; padding: 5px; margin: 10px">
                    <span class="postId" th:text="${post.postId}" style="visibility: hidden;"></span>
                    <table style="height: 20%; width: 100%;">
                        <tr>
                            <td th:text="'共' + ${post.segmentCount} + '楼'" width="7%" style="color: darkgray;">共20楼</td>
                            <td width="80%"><a th:postId="${post.postId}" class="postInfoLink"  target="_blank"  href="" th:text="${post.contentList[0]}">17寸轻薄旗舰对决，GS75对比世界最强GX701，仅供参考</a></td>
                            <td width="10%" align="center"style="color: darkgray"><span th:text="${post.userName}">dark</span> <br/><br/><span style="color: darkgray" th:text="${post.createTime}">20:00</span></td>
                        </tr>
                    </table>

                    <table width="100%" style="height: 50%;">
                        <tr>
                            <td width="5%"></td>
                            <td th:if="${post.contentList[1]!=null}" width="20%"><img th:src="@{${post.contentList[1]}}" class="imgContent" width="100%" /></td>
                            <td th:if="${post.contentList[1]==null}" width="20%"><img class="imgContent" width="100%" /></td>
                            <td th:if="${post.contentList[2]}" width="20%"><img th:src="@{${post.contentList[2]}}" class="imgContent" width="100%" /></td>
                            <td th:if="${post.contentList[2]==null}" width="20%"><img class="imgContent" width="100%" /></td>
                            <td th:if="${post.contentList[3]}" width="20%"><img th:src="@{${post.contentList[3]}}" class="imgContent" width="100%" /></td>
                            <td th:if="${post.contentList[3]==null}" width="20%"><img class="imgContent" width="100%" /></td>
                            <td width="40%"></td>
                        </tr>
                    </table>
                    <!--<table  width="100%" border="1px">-->
                        <!--<tr>-->
                            <!--<td width="5%"></td>-->
                            <!--<td width="20%"><img class="carousel-inner img-responsive img-rounded" th:src="@{${post.contentList[1].content}}" alt="aaa" ></td>-->
                            <!--<td width="20%"><img class="carousel-inner img-responsive img-rounded" th:src="@{${post.contentList[2].content}}" alt="aaa" ></td>-->
                            <!--<td width="20%"><img class="carousel-inner img-responsive img-rounded" th:src="@{${post.contentList[3].content}}" alt="aaa" ></td>-->
                            <!--<td width="35%"></td>-->
                        <!--</tr>-->
                    <!--</table>-->
                    <span style="width: 60%;"></span>
                </div>
            </div>
            <div id="pageNavNode">
                <!--<li><a href="#">&laquo;</a></li>-->
                <!--<li><a href="#">1</a></li>-->
                <!--<li><a href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#">4</a></li>-->
                <!--<li><a href="#">5</a></li>-->
                <!--<li><a href="#">&raquo;</a></li>-->
            </div>
        </div>
        <div class="col-sm-1">

        </div>
    </div>

</div>


</body>
</html>
