<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>Title</title>
    <style>
        a:link {color:#000000;}
    </style>
    <script type="text/javascript" src="../static/jquery-1.12.4.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css"></link>
    <script type="text/javascript" src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(function(){
            //根据当前页码和总页数生成分页导航
            var pageNavNode = $("#pageNavNode");
            var totalPage = $("#totalPageNum").text()
            totalPage = parseInt(totalPage)
            var pageSize = $("#pageSize").text()
            console.log(totalPage + "-------" + pageSize)
            var target = "/toQuestion"
            pageSize = parseInt(pageSize)
            if(totalPage > 1){
                var pageNum = $("#pageNum").text()
                pageNum = parseInt(pageNum)
                console.log(totalPage + "---------" + pageNum)
                var navNode = '<ul class="pagination" style="position: relative; left: 50px;">'
                var leftCount
                var rightCount
                if(pageNum > 2){
                    leftCount = 2;
                }else if(pageNum==2){
                    leftCount = 1;
                }else{
                    leftCount = 0;
                }

                rightCount = 5 - leftCount - 1;
                var maxNum = rightCount + pageNum;
                console.log("max: " + maxNum);
                console.log(maxNum > totalPage)
                if(maxNum > totalPage){
                    rightCount = parseInt(totalPage) - pageNum
                }
                // rightCount = rightCount+pageNum > data.data.pages ? data.data.pages - pageNum: rightCount

                console.log("left: " + leftCount)
                console.log("right: " + rightCount)

                var lastPageNum = parseInt(pageNum) - 1;
                console.log("lastPageNum: " + lastPageNum)
                if(pageNum > 1){
                    navNode += ' <li><a pageNum=1 type="navlink" href="'+target+'?pageNum=1&pageSize=' + pageSize + '">首页</a></li>';
                    navNode += ' <li><a pageNum='+lastPageNum+' type="navlink" href="'+target+'?pageNum=' + lastPageNum+'&pageSize=' + pageSize + '">上一页</a></li>';
                }else{
                    navNode += ' <li class="disabled"><a pageNum=1 type="navlink" href="#">首页</a></li>';
                    navNode += ' <li class="disabled"><a pageNum=1 type="navlink" href="#">上一页</a></li>';

                }
                for(var i=pageNum-leftCount; i<pageNum; i++){
                    navNode += ' <li><a pageNum='+i+' type="navlink" href="'+target+'?pageNum=' + i + '&pageSize=' + pageSize + '">' + i + '</a></li>';
                }
                navNode += ' <li class="active"><a pageNum='+pageNum+' type="navlink" href="'+target+'?pageNum=' + pageNum + '&pageSize=' + pageSize + '">' + pageNum + '</a></li>';
                for(var i=parseInt(pageNum)+1; i<=parseInt(pageNum)+rightCount; i++){
                    navNode += ' <li><a pageNum='+i+' type="navlink" href="'+target+'?pageNum=' + i + '&pageSize=' + pageSize + '">' + i + '</a></li>';
                }

                var nextPage = parseInt(pageNum)+1
                console.log("flag--" + pageNum< totalPage)
                if(pageNum < totalPage){
                    navNode += ' <li><a pageNum='+nextPage+' type="navlink" href="'+target+'?pageNum=' + nextPage + '&pageSize=' + pageSize + '">下一页</a></li>';
                    navNode += ' <li><a order="last" pageNum='+totalPage+' type="navlink" href="'+target+'?pageNum=' + totalPage + '&pageSize=' + pageSize + '">末页</a></li>';
                }else{
                    navNode += ' <li class="disabled"><a pageNum='+pageNum+' type="navlink" href="#">下一页</a></li>';
                    navNode += ' <li class="disabled"><a order="last" pageNum='+totalPage+' type="navlink" href="#">末页</a></li>';
                }
                navNode+='<li class="disabled"><a>共'+ totalPage +'页</a></li>'
                navNode+='</ul>';
                // alert(navNode)
                pageNavNode.append(navNode);
            }

            var agree=$(".agree");
            var disagree=$(".disagree")
            var answerIdList = new Array();
            var pageSize=1
            //获取页面上的所有回答
            $.each(agree, function(index, obj){
                var answerId = $(obj).parent().parent().find($(".answerId")).text();
                answerIdList[index] = answerId;
            })
            //获取当前用户在每个回答中是同意、不同意或者默认，并且更新按钮的状态
            $.ajax({
                url: '/answer/agreeType?answerIdList=' + answerIdList,
                type: 'get',
                success: function(data){
                    console.log(data);
                    if(data.data) {
                        $.each(agree, function (index, obj) {
                            if (data.data[index] == 0) {
                                $(obj).attr("class", "btn btn-primary agree");
                                $(obj).next().attr("class", "btn btn-default disagree")
                            } else if (data.data[index] == 1) {
                                $(obj).attr("class", "btn btn-default agree")
                                $(obj).next().attr("class", "btn btn-primary disagree")
                            } else if (data.data[index] == -1) {
                                $(obj).attr("class", "btn btn-default agree")
                                $(obj).next().attr("class", "btn btn-default disagree")
                            }
                        })
                    }
                }
            })

            //获取当前用户是否收藏了该回答，并且更新收藏按钮
            var collect = $(".collect");
            $.ajax({
                url: '/answer/collect/getList?answerIdList=' + answerIdList,
                type: 'get',
                datatype: 'get',
                success: function(data){
                    console.log(data);
                    if(data.code==0){
                        if(data.data){
                            $.each(collect, function(index, obj){
                                if(data.data[index]==1){
                                    $(obj).attr("class", "btn btn-primary collect");
                                    //自定义collect属性，表示是否已收藏，用于点击收藏按钮时判断是收藏还是取消动作
                                    $(obj).attr("collect", "1");
                                    $(obj).text("已收藏")
                                }else if(data.data[index]==0){
                                    $(obj).attr("class", "btn btn-default collect");
                                    $(obj).attr("collect", "0");
                                    $(obj).text("收藏")
                                }
                            })
                        }
                    }
                }
            })

            //退出登录
            $("#logout").click(function () {
                $.ajax({
                    url: '/user/logout',
                    type: 'get',
                    success: function(data){
                        if(data.code==0){
                            alert("退出登录成功");
                            $("#userCenter").remove();
                            $("#userInfo").append('<li  id="register"><a href="/toRegister"><span class="glyphicon glyphicon-user"></span> 注册</a></li>\n' +
                                '                            <li id="login"><a href="/toLogin"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>');
                        }else{
                            alert("操作失败，请稍后重试");
                        }
                        return false;
                    }
                })
            })

            //添加问题
            $("#addQuestionButton").click(function(){
                var title = $("#title").val();
                var content = $("#content").val();
                if(title.trim().length==0 || content.trim().length==0){
                    alert("内容不能为空");
                    return false;
                }
                // alert(title);
                // alert(content)
                $.ajax({
                    url: '/question',
                    type: 'post',
                    // contentType: 'application/json',
                    data:{
                        questionTitle: title,
                        questionContent: content
                    },
                    async:false,
                    datatype: 'json',
                    success: function(data){
                        console.log(data);
                        if(data.code!=0){
                            var aa = alert(data.hint);
                            console.log("aa............ " + aa)
                            if(data.data){
                                if(data.data.length!=0){}
                                // location.href=data.data;
                            }
                            return false;
                        }else{
                            var url = "/toQuestionInfo/" + data.data.questionId;
                            console.log("url:" + url)
                            // window.open(url);
                            if(confirm("添加成功,是否立即查看")) {
                                console.log("OK")
                                setTimeout(window.open(url), 500);
                                // window.open(url, "_blank")
                                // var newWeb = window.open('_blank');
                                // console.log("url:" + url)
                                // newWeb.location = url
                            }
                            // window.open("http://www.baidu.com")
                            // location.href="index";
                        }
                    }
                })
                return true;
            })

            //点击查看全部按钮，查看该回答的所有内容
            $(".readAll").click(function(){
                var answerId = $(this).parent().parent().find(".answerId").text();
                var divParent = $(this).parent().parent();
                var removeNode = $(this).parent();
                removeNode.remove();
                $.ajax({
                    url: '/getEntileAnswer/' + answerId,
                    type: 'get',
                    success: function(data){
                        console.log(data);

                        $.each(data.data, function(index,obj){
                            // console.log(obj)
                            // alert(obj.content);
                            if(obj.type==0){
                                divParent.append("<div style='margin: 5%; line-height:22px; text-align:justify;'>" + obj.content +"</div>");
                            }else{
                                divParent.append("<div style='margin: 5%'><img src='" + obj.content +"'/></div>");
                            }

                        })
                    }
                })
            })



            //点赞
            $(".agree").click(function() {
                var answerId = $(this).parent().parent().find(".answerId").text();
                var agree = $(this)
                var agreeClass = agree.attr("class")
                var pattPrimary = new RegExp("primary")
                var pattDefault = new RegExp("default")
                if (pattDefault.test(agreeClass)) {
                    console.log("agree...")
                    var disagree = $(this).parent().find(".disagree");
                    if (pattPrimary.test(disagree.attr("class"))) {
                        alert("你已不赞同该回答,请取消后再操作");
                        return;
                    }
                    $.ajax({
                        url: '/answer/agree/0',
                        type: 'get',
                        data: {
                            answerId: answerId
                        },
                        datatype: 'json',
                        success: function (data) {
                            console.log(data)
                            //code==0表示成功
                            if (data.code == 0) {
                                if (data.data!=null) {
                                    agree.text('赞同' + data.data);
                                    agree.attr("class", "btn btn-primary agree")
                                }
                                //code==1表示失败
                            } else if (data.code == 1) {
                                if (data.hint) {
                                    alert(data.hint);
                                }
                                //code==2表示错误
                            } else if (data.code == 2) {
                                if (data.hint) {
                                    alert(data.hint)
                                }
                            }
                        }
                    })
                } else if (pattPrimary.test(agreeClass)) {
                    console.log("agree cancel...")
                    $.ajax({
                        url: '/answer/agree/-1',
                        type: 'get',
                        data: {
                            answerId: answerId
                        },
                        datatype: 'json',
                        success: function (data) {
                            console.log(data)
                            //code==0表示成功
                            if (data.code == 0) {
                                if (data.data!=null) {
                                    agree.text('赞同' + data.data);
                                    agree.attr("class", "btn btn-default agree")
                                }
                                //code==1表示失败
                            } else if (data.code == 1) {
                                if (data.hint) {
                                    alert(data.hint);
                                }
                                //code==2表示错误
                            } else if (data.code == 2) {
                                if (data.hint) {
                                    alert(data.hint)
                                }
                            }
                        }
                    })
                }
            })

            $(".disagree").click(function () {
                var answerId = $(this).parent().parent().find(".answerId").text();
                var disagree = $(this)
                var disagreeClass = disagree.attr("class")
                var pattPrimary = new RegExp("primary")
                var pattDefault = new RegExp("default")
                if (pattDefault.test(disagreeClass)) {
                    var agree = $(this).parent().find(".agree");
                    console.log(pattPrimary.test(agree.attr("class")))
                    if (pattPrimary.test(agree.attr("class"))) {
                        alert("你已赞同该回答,请取消后再操作");
                        return;
                    }
                    $.ajax({
                        url: '/answer/agree/1',
                        type: 'get',
                        data: {
                            answerId: answerId
                        },
                        datatype: 'json',
                        success: function (data) {
                            console.log(data)
                            //code==0表示成功
                            if (data.code == 0) {
                                if (data.data!=null) {
                                    disagree.text('不赞同' + data.data);
                                    disagree.attr("class", "btn btn-primary disagree")
                                }
                                //code==1表示失败
                            } else if (data.code == 1) {
                                // disagree.attr("class", "btn btn-primary disagree")
                                if (data.hint) {
                                    alert(data.hint);
                                }
                                //code==2表示错误
                            } else if (data.code == 2) {
                                if (data.hint) {
                                    alert(data.hint)
                                }
                            }
                        }
                    })
                } else if (pattPrimary.test(disagreeClass)) {
                    $.ajax({
                        url: '/answer/agree/-1',
                        type: 'get',
                        data: {
                            answerId: answerId
                        },
                        datatype: 'json',
                        success: function (data) {
                            console.log(data)
                            //code==0表示成功
                            if (data.code == 0) {
                                if (data.data!=null) {
                                    disagree.text('不赞同' + data.data);
                                    disagree.attr("class", "btn btn-default disagree")
                                }
                                //code==1表示失败
                            } else if (data.code == 1) {
                                // disagree.attr("class", "btn btn-default disagree")
                                if (data.hint) {
                                    alert(data.hint);
                                }
                                //code==2表示错误
                            } else if (data.code == 2) {
                                if (data.hint) {
                                    alert(data.hint)
                                }
                            }
                        }
                    })
                }


            })

            //展开评论,显示评论第一页
            $(".toComment").click(function(){
                var answerId = $(this).parent().parent().find(".answerId").text();
                console.log(answerId)
                var answerNode = $(this).parent().parent();
                var commentNode = answerNode.find(".commentNode");
                var toAddComment = answerNode.find(".toAddComment");
                var commentNavNode = answerNode.find(".commentNavNode");
                var aNode = $(this).find("a");
                var aClass = aNode.attr("class");
                var commentCount = answerNode.find(".commentCount");
                console.log(aClass)
                //收起评论的操作
                if(aClass=="hideComment"){
                    // $(this).parent().parent().find(".commentNode").remove();
                    // $(this).parent().parent().find(".commentCountFlag").remove();
                    commentNode.empty();
                    toAddComment.empty();
                    commentNavNode.empty();

                    aNode.attr("class", "getComment")

                    console.log(commentCount[0].innerHTML)
                    aNode.text(commentCount.val() + "条评论")
                    return;
                }

                //展开评论的操作
                var thisNode = this;
                console.log(commentCount.val())
                commentNode.append('<div class="commentCountFlag" style="position:relative; left: 30px;" ><br/>'+ commentCount.val()+'条评论</div><hr style=""/>');
                $.ajax({
                    url: "/answer/comment/" + answerId + "/1/" + pageSize,
                    type: "get",
                    success: function(data){
                        console.log(data);
                        if(data.code==0){
                            $.each(data.data.list, function(index, obj){
                                var commentDetailNode = '   <div class="commentDetail" style="width: 70%; position:relative; left: 30px;">\n' +
                                    '                    <img width="20px" src="'+ obj.userPic+'"/>\n' +
                                    '                    <span>'+ obj.userName +': </span><span style="float: right; color: darkgray;"> '+obj.createTime+'</span>\n' +
                                    '                    <br/>\n' +
                                    '                    <div style="padding: 10px">\n' +
                                    '                    <span>'+ obj.commentContent +'</span><br/>\n' +
                                    '                        <span class="commentReport"><a>举报</a></span>\n' +
                                    '                    </div>\n' +
                                    '                </div>';
                                commentNode.append(commentDetailNode)

                            })
                            // commentNode.append("<p>哈哈</p>")
                            //更新评论数量
                            $(commentCount).val(data.data.total);
                            thisNode.innerHTML="<a class='hideComment' href='#'>收起评论</a>"

                            if(data.data.pages > 1){
                                var navPageNum = data.data.pages > 5 ? 5 : data.data.pages
                                var navNode = '<ul class="pagination" style="position: relative; left: 50px;">'
                                for(var i=1; i<= navPageNum; i++){
                                    if(i==1){
                                        navNode += ' <li class="active"><a pageNum='+i+' type="navlink" href="/answer/comment/' + answerId + '/' + i + '/' + pageSize + '">' + i + '</a></li>';
                                    }else {
                                        navNode += ' <li><a pageNum='+i+' type="navlink" href="/answer/comment/' + answerId + '/' + i + '/' + pageSize + '">' + i + '</a></li>';
                                    }
                                }
                                navNode+= '<li><a pageNum=2 type="navlink" href="/answer/comment/' + answerId + '/' + 2 + '/' + pageSize + '">下一页</a></li>';
                                navNode+= '<li><a order="last" pageNum='+data.data.navigatepageNums.length+' type="navlink" href="/answer/comment/' + answerId + '/' + data.data.navigatepageNums.length + '/' + pageSize + '">末页</a></li>';
                                navNode+='<li class="disabled"><a>共'+ data.data.pages +'页</a></li>'
                                navNode+='</ul>';
                                console.log(navNode)
                                // alert(navNode)
                                commentNavNode.append(navNode);
                            }

                            toAddComment.append('<div style="width: 100%; position: relative; left: 20px" class="myComment"><textarea style="width: 70%" class="inputComment" placeholder="我的评论"/><button style="position: relative; bottom: 10px; left: 10px" class="btn btn-primary submitComment">提交</button></div>')
                        }else{
                            alert("请稍后重试");
                        }
                    }
                })
            })


            //点击收藏按钮,收藏或者取消收藏的操作
            $(".collect").click(function(){
                var collect = $(this).attr("collect");
                console.log("collect:" + collect);
                var answerId = $(this).parent().parent().find(".answerId").text();
                var thisNode = $(this)
                var pathFlag = collect==0 ? 1 : 0;
                $.ajax({
                    url: '/answer/collect/'+ answerId +'/' + pathFlag,
                    type: 'get',
                    success: function(data){
                        console.log(data);
                        if(data.code==0){
                            if(collect==0) {
                                thisNode.attr("class", "btn btn-primary collect");
                                thisNode.attr("collect", "1");
                                thisNode.text("已收藏")
                            }else if(collect==1){
                                thisNode.attr("class", "btn btn-default collect");
                                thisNode.attr("collect", "0");
                                thisNode.text("收藏")
                            }
                        }else{
                            if(data.hint){
                                alert(data.hint)
                            }
                        }
                    }
                })


            })


            //评论翻页
            $("[type=answerNode] ").on('click', '[type=navlink]', function(e){
                if($(this).attr("class")=="disable")
                    return;
                var pageNum = $(this).attr("pageNum")
                pageNum = parseInt(pageNum)
                var href = $(this).attr("href")
                console.log(pageNum + "---" + href)
                var answerNode =  $(this).parent().parent().parent().parent();
                console.log(answerNode)
                var commentNode = answerNode.find(".commentNode");
                var commentNavNode = answerNode.find(".commentNavNode");
                var answerId = answerNode.find(".answerId").text();
                var aNode = $(this)
                var commentCount = answerNode.find(".commentCount");
                $.ajax({
                    url: href,
                    type: 'get',
                    success: function(data){
                        console.log(data)
                        if(data.code==0){
                            if(data.data){
                                commentNode.empty();
                                commentNavNode.empty();
                                commentNode.append('<div class="commentCountFlag" style="position:relative; left: 30px;" ><br/>'+ $(commentCount).val()+'条评论</div><hr style=""/>');
                                $.each(data.data.list, function(index, obj){
                                    commentNode.append('   <div class="commentDetail" style="width: 70%; position:relative; left: 30px;">\n' +
                                        '                    <img width="20px" src="'+ obj.userPic+'"/>\n' +
                                        '                    <span>'+ obj.userName +': </span><span style="float: right; color: darkgray;"> '+obj.createTime+'</span>\n' +
                                        '                    <br/>\n' +
                                        '                    <div style="padding: 10px">\n' +
                                        '                    <span>'+ obj.commentContent +'</span><br/>\n' +
                                        '                        <span class="commentReport"><a>举报</a></span>\n' +
                                        '                    </div>\n' +
                                        '                </div>');

                                })
                                $(commentCount).val(data.data.total);
                                // thisNode.innerHTML="<a class='hideComment' href='#'>收起评论</a>"

                                if(data.data.pages > 1){
                                    var navNode = '<ul class="pagination" style="position: relative; left: 50px;">'
                                    var leftCount
                                    var rightCount
                                    if(pageNum > 2){
                                        leftCount = 2;
                                    }else if(pageNum==2){
                                        leftCount = 1;
                                    }else{
                                        leftCount = 0;
                                    }

                                    rightCount = 5 - leftCount - 1;
                                    var maxNum = rightCount + pageNum;
                                    console.log("max: " + maxNum);
                                    console.log(maxNum > data.data.pages)
                                    if(maxNum > data.data.pages){
                                        rightCount = parseInt(data.data.pages) - pageNum
                                    }
                                    // rightCount = rightCount+pageNum > data.data.pages ? data.data.pages - pageNum: rightCount

                                    console.log("left: " + leftCount)
                                    console.log("right: " + rightCount)

                                    var lastPageNum = parseInt(pageNum) - 1;
                                    console.log("lastPageNum: " + lastPageNum)
                                    if(pageNum > 1){
                                        navNode += ' <li><a pageNum=1 type="navlink" href="/answer/comment/' + answerId + '/1/' + pageSize + '">首页</a></li>';
                                        navNode += ' <li><a pageNum='+lastPageNum+' type="navlink" href="/answer/comment/' + answerId + '/'+ lastPageNum+'/' + pageSize + '">上一页</a></li>';
                                    }else{
                                        navNode += ' <li class="disabled"><a pageNum=1 type="navlink" href="/answer/comment/' + answerId + '/1/' + pageSize + '">首页</a></li>';
                                        navNode += ' <li class="disabled"><a pageNum=1 type="navlink" href="/answer/comment/' + answerId + '/'+ lastPageNum+'/' + pageSize + '">上一页</a></li>';

                                    }
                                    for(var i=pageNum-leftCount; i<pageNum; i++){
                                        navNode += ' <li><a pageNum='+i+' type="navlink" href="/answer/comment/' + answerId + '/' + i + '/' + pageSize + '">' + i + '</a></li>';
                                    }
                                    navNode += ' <li class="active"><a pageNum='+pageNum+' type="navlink" href="/answer/comment/' + answerId + '/' + pageNum + '/' + pageSize + '">' + pageNum + '</a></li>';
                                    for(var i=parseInt(pageNum)+1; i<=parseInt(pageNum)+rightCount; i++){
                                        navNode += ' <li><a pageNum='+i+' type="navlink" href="/answer/comment/' + answerId + '/' + i + '/' + pageSize + '">' + i + '</a></li>';
                                    }

                                    var nextPage = parseInt(pageNum)+1
                                    if(pageNum < data.data.pages){
                                        navNode += ' <li><a pageNum='+nextPage+' type="navlink" href="/answer/comment/' + answerId + '/' + nextPage + '/' + pageSize + '">下一页</a></li>';
                                        navNode += ' <li><a order="last" pageNum='+data.data.pages+' type="navlink" href="/answer/comment/' + answerId + '/' + data.data.pages + '/' + pageSize + '">末页</a></li>';
                                    }else{
                                        navNode += ' <li class="disabled"><a pageNum='+pageNum+' type="navlink" href="/answer/comment/' + answerId + '/' + pageNum + '/' + pageSize + '">下一页</a></li>';
                                        navNode += ' <li class="disabled"><a order="last" pageNum='+data.data.pages+' type="navlink" href="/answer/comment/' + answerId + '/' + data.data.pages + '/' + pageSize + '">末页</a></li>';
                                    }
                                    navNode+='<li class="disabled"><a>共'+ data.data.pages +'页</a></li>'
                                    navNode+='</ul>';
                                    // alert(navNode)
                                    commentNavNode.append(navNode);
                                }
                            }
                        }
                    }
                })

                return false;
            })

            //提交发表评论
            $("[type=answerNode]").on('click', '.submitComment', function(e){
                var lastPage = $(this).parent().parent().parent().find("[order=last]")
                var answerNode =  $(this).parent().parent().parent();
                var answerId = answerNode.find(".answerId").text();
                var commentContent = $(this).parent().find(".inputComment").val();
                if(commentContent.trim()==""){
                    alert("提交内容不能为空")
                    return
                }
                console.log("answerId:" + answerId + " commentContent:" + commentContent)
                var json = {
                    "commentContent": commentContent,
                    "answerId": answerId,
                };
                var lastCommentPageNode = $(this).parent().parent().parent().find(".commentNavNode").find("[order=last]");
                console.log("lastCommentPageNode" + lastCommentPageNode.innerHTML)
                $.ajax({
                    url: '/answer/comment',
                    type: 'post',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data:JSON.stringify(json),
                    success: function(data){
                        console.log(data);
                        if(data.code==0){
                            alert("添加成功")
                            lastPage.click()

                        }else{
                            if(data.hint){
                                alert(data.hint)
                            }
                        }
                    }
                })
            })

            $(".reportBtn").click(function(){
                $("#reportSubmit").attr("answerId", $(this).attr("answerId"))
            })

            $("#reportSubmit").click(function(){
                var reasonNode = $("#reportReason")
                var reason = $.trim($(reasonNode).val())
                $(reasonNode).val(reason)
                if(reason=="") {
                    alert("举报原因不能为空")
                    return false;
                }
                var answerId = $(this).attr("answerId")
                console.log("reason..." + reason)
                $.ajax({
                    url: '/question/report/' + answerId,
                    type: 'post',
                    dataType: 'json',
                    data: {
                        'reason': reason
                    },
                    success: function(data){
                        console.log(data)
                        if(data.code==0){
                            alert("举报完成,将交由后台审核处理")
                            //todo 将举报按钮设置为不可用
                        }else{
                            if(data.hint){
                                alert(data.hint)
                            }
                        }

                    }
                })
            })

            $("#searchQuestion").click(function(){
                var searchContentNode = $("#searchContent");
                var searchContent = $.trim($(searchContentNode).val())
                $(searchContentNode).val(searchContent)
                if(searchContent==""){
                    return false;
                }
            })
        })
    </script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-9">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="text-align: center; color: #2e6da4; font-weight:bold;">网络社区</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="dropdown"><a href="/toPost" target="_blank">社区首页</a></li>
                            <li><a href="/toArticle" target="_blank">文库</a></li>
                            <li><a href="/toQuestion" style="color: #2e6da4" target="_blank">问答</a></li>
                        </ul>
                    </div>
                    <form class="navbar-form navbar-left" role="search" action="/question/search" target="_blank">
                        <div class="form-group">
                            <input th:if=${searchContent==null} th:value="${searchContent}" type="text" class="form-control" placeholder="Search" th:id="searchContent" name="searchContent">
                            <input th:if=${searchContent!=null} th:value="${searchContent}" type="text" class="form-control" placeholder="Search" th:id="searchContent" name="searchContent">
                        </div>
                        <button type="submit" class="btn btn-default" id="searchQuestion" href="/question/search">搜问题</button>

                    </form>

                    <div>
                        <ul class="nav navbar-nav navbar-right" id="userInfo">
                            <li th:if="${session.user}" id="userCenter">
                                <div>
                                    <div class="dropdown">
                                        <span class="dropdown-toggle" id="menu1" data-toggle="dropdown" >
                                             <img th:src="@{${session.user.userPic}}" width="45px" src="../static/img/da8e974dc_xs.jpg" class="img-thumbnail"/>
                                        </span>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/toHomePage" target="_blank">个人中心</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="logout">退出登录</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li th:if="${session.user==null}" id="register"><a href="/toRegister" target="_blank"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                            <li th:if="${session.user==null}" id="login"><a href="/toLogin" target="_blank"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                        </ul>
                    </div>
                </div>

            </nav>
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">我要提问</button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">我的提问</h4>
                        </div>
                        <div class="modal-body">
                            <textarea id="title" placeholder="问题标题" style="width: 100%;"></textarea>
                            <textarea id="content" placeholder="问题内容" style="width: 100%" rows="10"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="addQuestionButton" data-dismiss="modal">提交更改</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>


            <div type="answerNode" th:each="answerDTO:${data.data.list}" class="panel panel-default" style="word-wrap:break-word;word-break:break-all; padding: 10px">
                <div style="height: 100%; " class="panel-body">
                    <span class="answerId" style="visibility: hidden" th:text="${answerDTO.answerId}"></span>
                    <div th:if="${answerDTO.userId!=null}"><a th:text="${answerDTO.questionTitle}" th:href="@{'/toQuestionInfo/' + ${answerDTO.questionId}} + '?answerId=' + ${answerDTO.answerId}" style="color: black; font-size: larger;" target="_blank">火影忍者最后初代火影都复活了，自来也为什么不给复活？</a> <span th:text="${answerDTO.answerCount} + '个回答'" style="color: darkgray">142个回答</span><button class="btn btn-default reportBtn" th:answerId="${answerDTO.answerId}" style="float: right" data-toggle="modal" data-target="#reportModal">举报</button></div>
                    <div th:if="${answerDTO.userId==null}"><a th:text="${answerDTO.questionTitle}" th:href="@{'/toQuestionInfo/' + ${answerDTO.questionId}}" style="color: black; font-size: larger;" target="_blank">火影忍者最后初代火影都复活了，自来也为什么不给复活？</a> <span th:text="${answerDTO.answerCount} + '个回答'" style="color: darkgray">142个回答</span><button class="btn btn-default reportBtn" answerId="${answerDTO.answerId}" style="float: right" data-toggle="modal" data-target="#reportModal">举报</button></div>
                    <br/>
                    <img class="img-thumbnail" width="50px" th:src="@{${answerDTO.userPic}}">
                    <a th:text="${answerDTO.userName}" href="#"></a>
                    <div><br/><a th:if="${answerDTO.userId!=null}" class="readAll" th:text="${#strings.length(answerDTO.content)<20 ? answerDTO.content : #strings.substring(answerDTO.content, 0, 20) + '...'}" href="#" style="color: black;">衣服又痩了： 按照漫画里的说法，自来也是沉入了海底，没法找到尸体。 那我就有点疑问。 小迪炸成灰还可以用血液复活。 按照这样来说。 自来也大战佩恩六道的时候…</a><a th:if="${answerDTO.userId!=null}" class="readAll">阅读全文</a></div>
                </div>
                <br/>
                <div th:if="${answerDTO.userId!=null}" style="position:relative; left: 30px;">
                    <span th:text=" '赞同' + ${answerDTO.agreeCount}" class="btn btn-default agree">赞同1.1k</span>
                    <span th:text="'不赞同' + ${answerDTO.disagreeCount}" class="btn btn-default disagree">不赞同0.2k</span>
                    <span class="toComment"><a class="getComment" th:text="${answerDTO.commentCount} + '条评论'"  href="#">120条评论</a></span>
                    <span class="btn btn-default collect" collect="0">收藏</span>
                    <span><input type="hidden" class="commentCount" th:attr="value=${answerDTO.commentCount}"></span></span>
                </div>

                <div class="commentNode">

                </div>
                <div class="commentNavNode">

                </div>
                <div style="width: 100%; position: relative; left: 20px" class="toAddComment">
                    <!--<textarea style="width: 70%" class="inputComment" placeholder="我的评论"/>-->
                    <!--<button style="position: relative; left:10px" class="btn btn-primary submitComment">提交</button>-->
                </div>
            </div>

            <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="reportModalLabel">举报</h4>
                        </div>
                        <div class="modal-body">
                            <textarea id="reportReason" placeholder="举报原因" style="height: 100px; width: 100%;"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="reportSubmit">提交</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <div id="pageNavNode">

            </div>
            <div>
                <span id="pageNum" th:text="${data.data.pageNum}" style="visibility: hidden"></span>
                <span id="totalPageNum" th:text="${data.data.pages}" style="visibility: hidden"></span>
                <span id="pageSize" th:text="${data.data.pageSize}" style="visibility: hidden"></span>
            </div>

        </div>
    </div>
</div>
</body>
</html>